.form{
    margin-top: 10rem;
}
.form h2{
    margin: auto;
    width: fit-content;
    font-family: roboto;
    font-size: 2rem;
    
}
.facefor{
    margin: auto;
   margin-top: 2rem;
    text-align: center;

}
.facefor input{
    width: 400px;
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
    background: #000;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
    padding:1rem;
    outline: none; 

}
.facefor input:focus{
    border: 1px solid #39E079 !important;
}
.facefor .button{
    margin-top: 2rem;
    width: 300px;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    color: white;
    background: #646cffaa;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    font-weight: 600;
}
.facefor .button:hover{
background-color: #39E079;
}
.post_h1{
    color: white !important;
    margin-top: 10rem;
}
.loading_p{
    color: white;
    margin-top: 10rem;
   font-size: 2rem;
   text-align: center;
   font-family: poppins;
}

.but_i{
color: white;

position: absolute;
left: -2.5rem;
top: -0.3rem;
}
.but_vis{
background: green;
}
.img_qr_ws{
    margin: auto;
    margin-top: 10rem;
    width: 300px;
    height: 300px;
    display: block;
}

.face_buttons{
    margin-top: 10rem;
}
.face_buttons button{
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background: #39E079;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: poppins;
    font-weight: 600;

}
.face_buttons_link{
    text-decoration: none;
    color: white;
}

.btn_close_ff{
    color: #39E079 !important;
    background: #000 !important;
    border: 1px solid #39E079 !important;
    display: none;
}
.top_form_fb{
    display: flex;
width: fit-content;
margin: auto;

}
.top_form_fb input{
    width: 170px;
    margin-right: 12px;
    margin-left: 12px;
}
.form{
margin-top: 2rem !important;
}
.Alert_fb{
    background: green;
position: relative !important;
height: fit-content;
width: 100% !important;
}
.col_er{

    position: absolute !important;
    width: 100% !important;
    top: -18rem !important;
}

